/* rushed styling, could have done better responsiveness etc. if given more time I think :D */

.page {
  min-height: 100svh;
  max-height: 100%;
  display: grid;
  grid-template-rows: 5rem 1fr;
  background-color: white;
}

.nav {
  position: sticky;
  top: 0;
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.content {
  display: flex;
  background-color: rgb(220, 220, 220);
}

.displayer {
  padding: 1em;
  flex: 2 0.1 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
  background-color: rgb(66, 66, 66);
}
