.form {
  flex: 0 1 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}

.search {
  flex: 1 1 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: stretch;
  border-radius: 15px;
}

.searchInput {
  width: 100%;
  padding: 0.2em 0.8em;
  border: none;
  border-radius: 15px;
  background-color: rgb(52, 52, 52);
  box-shadow: inset -2px 1px 4px 1px rgba(0, 0, 0, 0.2);
  color: rgb(166, 166, 166);
}

.searchButton {
  position: absolute;
  right: 0;
  padding: 0.2em;
  width: 30px;
  height: 30px;
  border: none;
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.4);
}
