.form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}

.search {
  flex: 0 1 auto;
  border-radius: 15px;
  padding: 0.2em 0.8em;
}

.searchButton {
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 15px;
  background-color: transparent;
}
