.sideList {
  display: flex;
  flex-direction: column;
  gap: 0.2em;
}

.sideButtons {
  padding: 1em;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.1);
  text-align: center;
  cursor: pointer;
}

.sideButtons:hover {
  color: white;
  background-color: rgba(255, 255, 255, 0.5);
}

.activeSideButton {
  color: black;
  background-color: rgba(255, 255, 255, 0.5);
}
