.thumbnailList {
  padding: 1em;
  flex: 0 0 100px;
  width: 100%;
  display: flex;
  gap: 1em;
  overflow-x: auto;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.thumbnail {
  padding: 0.2em;
  width: 100px;
  height: 60px;
  object-fit: cover;
  border: 1px solid rgb(255, 255, 255, 0.2);
  border-radius: 15px;
  cursor: pointer;
}

.thumbnail:hover {
  border: 1px solid rgb(255, 255, 255, 0.8);
}

.activeThumbnail {
  border: 1px solid rgb(255, 255, 255, 0.5);
}
